---
layout: default
---
<div class="container-fluid subpage">
  <div class="row">
    <div class="col-md-12">
      <h1 class="subpage-title my-animate bounceInLeft">
        Recent Work
      </h1>
      <div>
        <p class="my-animate lightSpeedIn">
          Below are a few of the recent projects I have created for my clients ranging from simple applications to highly customizable Wordpress Themes. <span class="apple">Click a logo</span> below to see a breakdown of each project.
        </p>
      </div>
    </div>
    <ul class="col-md-12 clients my-animate rotateInUpLeft">
      {% for client in site.data.clients %}
        <li class="col-md-3 col-sm-6 col-xs-6 client">
              <div class="client-logo client-logo my-animate">
                <img data-toggle="modal" data-target="#{{client.modalID}}" class="img-responsive" src="{{ site.baseurl }}/{{ client.logo }}" alt="{{ client.name }} Web Development">
              </div>

              <!-- Modal -->
                <article class="modal fade" id="{{client.modalID}}" tabindex="-1" role="dialog" aria-labelledby="{{client.modalID}}" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <button type="button" data-dismiss="modal" class="dismiss-modal">X</button>
                      <div class="modal-header">
                        <img src="{{site.baseurl}}/{{client.mainImage}}" alt="{{client.name}}" class="img-responsive">
                        <h2 class="modal-title" id="exampleModalLabel">{{client.name}}</h2>
                      </div>
                      <div class="modal-body">
                        <p>{{client.description}}</p>
                        <h3>Responsive The Whole Way Down</h3>
                        <div class="rwd-image">
                          <img class="img-responsive" src="{{ site.baseurl }}/{{ client.rwdImage }}" alt="Responsive Web Design by Jeremiah Wodke">
                        </div>
                        <p>I have an extensive workflow for making sure that all client products are responsive on a multitude of devices and browsers (IE, CHROME, OPERA, FIREFOX etc.) using developer standard tools and manual testing through a range of in-house devices. The websites I create stimulate the user experience on nearly all devices.</p>
                        {% if client.techincalSpecs != "" %}
                          <h3>Technical Description</h3>
                          <p>{{ client.techincalSpecs }}</p>
                          <ul class="specs">
                            <li>{{ client.specs[0] }}</li>
                            <li>{{ client.specs[1] }}</li>
                            <li>{{ client.specs[2] }}</li>
                            <li>{{ client.specs[3] }}</li>
                          </ul>
                        {% endif %}
                      </div>
                      {% if client.review != "" %}
                      <div class="client-review">
                        <h3>Client Review</h3>
                        <p>{{ client.review }}</p>
                        <img class="review-pic" src="{{site.baseurl}}/{{client.reviewPic}}" alt="{{client.reviewer}}">
                        <h4>{{ client.reviewer }}</h4>
                      </div>
                      {% endif %}
                      <div class="modal-footer">
                        <a href="{{ client.link }}" target="_blank">
                          <button type="button" class="btn btn-secondary website-link">Visit Website</button>
                        </a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </article>
              <!--  End Modal  -->

        </li>
      {% endfor %}
    </ul>
  </div>
</div>
