<nav class="navigation">
  <ul>
    <li>
      <a class="white home" href="{{site.baseurl}}/" title="Home"><i class="fa fa-home fa-2x"></i>
        <span></span>
      </a>
    </li>
    <li>
      <a class="apple about" href="{{site.baseurl}}/about.html" title="About"><i class="fa fa-male fa-2x apple"></i>
        <span></span>
      </a>
    </li>
    <li>
      <a class="sun work" href="{{site.baseurl}}/work.html" title="Work"><i class="fa fa-code fa-2x sun"></i>
        <span></span>
      </a>
    </li>
    <li><a class="skin email" href="{{site.baseurl}}/contact.html" title="Email"><i class="fa fa-envelope fa-2x skin"></i><span></span></a></li>
    <li>
      <a class="prune" href="{{site.baseurl}}/assets/2017-Resume-Jeremiah-Wodke-Personal-Wesbite.pdf" title="Resume" target="_blank">
        <i class="fa fa-file-text fa-2x"></i>
        <span></span>
      </a>
    </li>
  </ul>
</nav>
