<nav class="navigation">
  <ul>
    <li>
      <a class="white" href="" title="Home"><i class="fa fa-home fa-2x"></i>
        <span></span>
      </a>
    </li>
    <li>
      <a class="apple" href="" title="About"><i class="fa fa-male fa-2x apple"></i>
        <span></span>
      </a>
    </li>
    <li>
      <a class="sun" href="" title="Work"><i class="fa fa-code fa-2x sun"></i>
        <span></span>
      </a>
    </li>
    <li>
      <a class="prune" href="" title="Resume" target="_blank">
        <i class="fa fa-file-text fa-2x"></i>
        <span></span>
      </a>
    </li>
    <li><a class="skin" href="" title="Email"><i class="fa fa-envelope fa-2x skin"></i><span></span></a></li>
  </ul>
</nav>
