<nav class="navigation">
  <ul>
    <li>
      <a class="white home" href="/" title="Home">
        <i class="fa fa-home fa-2x"></i>
      </a>
    </li>
    <li>
      <a class="apple about" href="about.html" title="About">
        <i class="fa fa-male fa-2x"></i>
      </a>
    </li>
    <li>
      <a class="sun work" href="work.html" title="Work">
        <i class="fa fa-code fa-2x"></i>
      </a>
    </li>
    <li><a class="skin contact" href="contact.html" title="Email">
      <i class="fa fa-envelope fa-2x"></i>
      </a>
    </li>
    <li>
      <a class="prune resume" href="{{site.baseurl}}/assets/2017-Resume-Jeremiah-Wodke-Personal-Wesbite.pdf" title="Resume" target="_blank">
        <i class="fa fa-file-text fa-2x"></i>
      </a>
    </li>
  </ul>
</nav>
