---
---

/* ====================================
Menu
- Variables / Reusables
- Animations
- General
- Home
- Navigation
- Subpage
==================================== */

@charset "utf-8";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Squada+One|Racing+Sans+One');

/* ====================================
Variables / Reusables
==================================== */

$apple: #c03727;
$watermelon: #ff3333;
$mango: #ff6633;
$sun: #fcbb3f;
$prune: #ac7a85;
$skin: #fdc689;
$fred:  'Squada One', 'Racing Sans One', 'Roboto Mono';
$robot: 'Roboto Mono', monospace;

.flex-center { /* for @extend .table-cell */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.inner-flex-center {
  @extend .flex-center;
  height: 100%;
}

.text-center {
  width: 100% !important;
  max-width: 100%;
}

.full-window {
  width: 100vw;
  height: 100vh;
}

.white {
  color: white;
}

.apple {
  color: $apple;
}

span.apple:hover {
  color: red;
}

.prune {
  color: $prune;
}

.skin {
  color: $skin;
}

.sun {
  color: $sun;
}

.bg-sun {
  background-color: $sun;
}

.black {
  color: #111;
}

.text-shadow {
  -webkit-text-shadow: -4px 1px 10px #111;
  -moz-text-shadow: -4px 1px 10px #111;
  -ms-text-shadow: -4px 1px 10px #111;
  text-shadow: -4px 1px 10px #111;
}

.block {
  display: block;  /* overide any styles preventing block */;
}

.original-text {
  font-size: 1em;
}

.smaller-text {
  font-size: .75em;
}

.table {
  display: table;
  height: 100%;
}

.cell-vertical-alignment {
  display: table-cell;
  vertical-align: middle;
}

.overflow-content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.strong {
  font-weight: bold;
}

.my-animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@mixin animate-duration($duration) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -ms-animation-duration: $duration;
  animation-duration: $duration;
}

@mixin animate-delay($delay) {
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -ms-animation-delay: $delay;
  animation-delay: $delay;
}

@mixin animate-iteration($i) {
  -moz-animation-iteration-count: $i;
  -moz-animation-iteration-count: $i;
  -moz-animation-iteration-count: $i;
  animation-iteration-count: $i;
}

/* ====================================
Animations
==================================== */

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 102, 51, .8);
  }
  70% {
      -webkit-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 102, 51, .8);
    box-shadow: 0 0 0 0 rgba(255, 102, 51, .8);
  }
  70% {
      -moz-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
      box-shadow: 0 0 0 15px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

/* ====================================
General
==================================== */

*, body, h1, h2, h3, p, li, span, strong, blockquote {
  font-size: 18px;
  -webkit-appearance: none;
}

h1, h2, h3, p, li, blockquote {
  line-height: 25px;
}

h2::before {
  content: "<h2>";
}

h2::after {
  content: "</h2>";
}

h2::before,
h2::after,
strong::before,
strong::after
{
  font-family: $robot;
  font-style: italic;
  font-size: .9em;
  letter-spacing: -1px;
}

strong {
  color: #222;
}

strong::before {
  content: "<strong>";
}

strong::after {
  content: "</strong>";
}

p {
  text-align: justify;
}

.pipe {
  font-family: $robot;
  padding: 0 1px 0 1px;
  color: white;
  font-size: 1em;
}

a {
  color: $apple;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: $robot;
  background: url("../img/bg_background-abstract.svg") top center / cover no-repeat;
  /* the slash allows bg size cover to be added to shorthand */
  background-color: black;
  @extend .full-window;
  color: #111;
  height: 100vh;
}

.btn-red {
  margin-top: 25px;
  transition: .2s;
  font-size: 1em;
  background-color: $watermelon;
  @extend .white;
}

.btn-red:hover {
  background-color: #ff6633;
  @extend .white;
  animation: pulse 2s infinite;
}

button.btn-subpage {
  margin-top: 10px;
}

button a, button a:hover {
  color: white;
  text-decoration: none;
}

.mobile-social {
  display: none;
}

.social-icons {
  position: absolute;
  right:0;
  bottom: 0;
  padding: 10px;
}

.social-icons a i, .mobile-social a i {
  font-size: 2em;
}

.linkedin-link i {
  color: #337ab7;
}

.content-wrapper {
  position: relative;
}

.view {
  margin-left: 50px;
}

.rotate-tablet {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #333 url("../img/icon_device-orientation.png") center center no-repeat;
  z-index: 102;
}

.load-screen {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 80px;
  width: 95vw;
  height: 100vh;
  background: #444 url("../img/loader.gif") center center no-repeat;
  z-index: 100;
}

/* GitHub Drawer */

.drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; 
  height: 100%;
  background: #333;
  color: #efefef;
  z-index: 102;
  border: none;
  border-right: 3px dashed $sun;
  box-shadow: 0px 1px 43px #333;
  padding: 10px 26px;
}

#repos {
  padding-left: 0;
  list-style: none;
}

.gh-info {
  padding: 30px 0;
  margin: 20px 0;
  border: 2px solid #444;

  a:hover img {
    filter: grayscale(100%);
    transform: rotate(360deg);
  }

  img {
    max-width: 20%;
    border-radius: 50%;
    transition: ease all .3s;
  }

  p {
    text-align: center;
    margin: 0;
  }

  p.gh-username {
    margin-top: 15px;
  }
}

.repo, 
.repo-name {
  margin-bottom: 17px;
}

.repo {
  border-bottom: 1px solid #444;
  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.repo-link i {
  color: $sun;
}

/* ====================================
Home
==================================== */

.view {
  @extend .flex-center;
}

.hello, .my-name, strong {
  font-family: $fred;
  letter-spacing: 3px;
}

.my-name, .hello {
  @extend .white;
  @extend .text-shadow;
  @extend .my-animate;
  line-height: 95px;
  color: white;
}

.my-name {
  font-size: 5em;
  @include animation-delay(2s);
}

.my-name span {
  font-size: inherit;
}

.hello {
  font-size: 3.5em;
  line-height: 20px;
  margin-left: 0;
  @include animation-delay(1.25s);
}

.hello::before, .hello::after {
  content: "";
}

.home-bio-content {
  @include animation-delay(2.25s);
}

.btn-home {
  @include animation-delay(13s);
}

/* ====================================
Navigation
==================================== */

.navigation {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  background-color: #333;
  height: 100vh;
  width: 80px;
  z-index: 4;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  @extend .flex-center;
  flex-direction: column;
}

.navigation ul li {
  margin-bottom: 30px;
  margin-left: -3px;
}

.navigation ul li:last-child {
  margin-bottom: 0;
}

.navigation ul li a {
  font-size: 1em;
  display: block;
  line-height: 45px;
  height: 45px;
  position: relative;
  transition: .3s;
}

.navigation ul li a:focus, .navigation ul li a:active, .navigation ul li a:hover {
  color: #222;
  text-decoration: none;
}

.navigation ul li a::after {
  content: '';
  display: block;
  text-align: center;
  font-size: 9px;
  line-height: 0px;
  margin-left: -3px;
}

.navigation ul li a.home::after {
  content: "HOME";
}

.navigation ul li a.about::after {
  content: "ABOUT";
}

.navigation ul li a.work::after {
  content: "PORTFOLIO";
}

.navigation ul li a.contact::after {
  content: "CONTACT";
}

.navigation ul li a.resume::after {
  content: "RESUME";
}


/* ====================================
Subpage
==================================== */

.subpage-title {
  @extend .hello;
  font-size: 3.5em;
  margin-bottom: 50px;
  @include animation-delay(1s);
}

.tech-icons {
  margin-left: 50px;
}

.tech-icons, .tech-icons-horizontal {
  @include animation-delay(2s);
}

.about-text {
  background-color: transparent;
  border-radius: 10px;
  @include animation-delay(1.5s);
}

.about-buttons {
  @include animation-delay(1.75s);
}

.tech-icons-horizontal {
  display: none;
}

/* ====================================
Email
==================================== */

.contact-form {
  @include animation-delay(2s);
}

input {
  margin-bottom: 10px;
}

input:last-child {
  margin-bottom: 0;
}

.contact-form input, .contact-form textarea {
  background-color: rgba(255, 255, 255, 0.6);
}

.contact-form input, .contact-form textarea {
  border: 2px solid $sun;
}

.contact-form input[type="submit"] {
  border: none;
  margin-top: 0;
  transition: .2s;
  background-color: $apple;
  color: white !important;
}

.contact-form input[type="submit"]:focus {
  outline: 0;
  text-shadow: none;
}

.contact-form input[type="submit"].alert--loading {
  border: none;
}

.contact-form input:focus, .contact-form textarea:focus {
  border: 2px solid $apple;
  box-shadow: none;
  color: $apple;
}

input.btn-submit {
  @extend .btn-red;
  margin-top: 0;
  transition: .2s;
}

input.btn-submit:hover {
  background-color: $mango;
}

/* ====================================
Work
==================================== */
.portfolio-text {
  @include animation-delay(1.5s);
}

.clients {
  border-radius: 5px;
  padding: 20px 5px;
  list-style: none;
  @include animation-delay(1.5s);
}

.client-logo {
	filter: grayscale(100%);
  display: flex;
  align-items: center;
  height: 75px;
}

.client-logo:hover {
  filter: none;
  cursor: pointer;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: relative;
  z-index: 2000;
}

.modal-content *::before, .modal-content *::after {
  content: "";
}

.modal-header {
  padding: 3px;
}

.modal-content h3 {
  text-align: center;
  font-size: 1.25em;
  font-family: $fred;
  color: $mango;
}

h2.modal-title {
  text-align: center;
  font-size: 1.75em;
  padding: 10px 0;
  font-family: $fred;
  color: $sun;
}

.btn-secondary {
  background-color: black;
}

.modal-footer a {
  color: white;
}

.rwd-image {
  width: 100%;
  padding: 15px 0;
}

.client-review {
  background: rgba(255, 255, 255, 1);
  padding: 15px 25px;
  color: black;
}

.client-review p, .client-review h4 {
  text-align: center;
}

.client-review h4 {
  font-weight: bold;
  font-size: 1.4em;
}

.client-review p::before {
  content:'\f10d';
  font-family: FontAwesome;
  padding: 20px 0;
  font-size: 2em;
  display: block;
}

.review-pic {
  display: block;
  width: 125px;
  height: 125px;
  margin: 17px auto;
  border-radius: 180%;
}

.modal-content .dismiss-modal {
  position: absolute;
  top: 12px;
  right: 10px;
  color: white;
  background-color: transparent;
  border: none;
  font-family: $fred;
  font-size: 1.4em;
  opacity: .6;
  transition: .3s;
}

.modal-content .dismiss-modal:hover {
  opacity: 1;
}

/* ====================================
Media Queries
==================================== */
@media all and (max-width: 1199px) {
  .about-text {
    padding: 10px;
    height: 48vh;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #333;
  }

  button.btn-subpage {
    margin-top: 20px;
  }

  .hello {
    font-size: 2.5em;
  }

  .my-name {
    font-size: 4em;
  }

  .subpage-title {
    margin-bottom: 25px;
    @include animation-delay(1s);
  }
}

@media all and (max-width: 991px) {
  .my-name, .hello, .subpage-title {
    text-shadow: none;
  }

  .about-tech {
    display: none;
  }

  .tech-icons-horizontal {
    display: block;
    margin-bottom: 20px;
  }

  .my-name, .hello {
    line-height: 40px;
  }

  .hello {
    font-size: 1.8em;
    color: #222;
  }

  .my-name {
    font-size: 3em;
    margin-top: 0;
    color: #333;
  }

  .subpage-title {
    font-size: 2.5em;
  }

  .client-logo img.logo-img {
    width: 70%;
    margin: 0 auto;
  }
}

@media all and (max-width: 768px) {
  *, body, h1, h2, h3, p, li, span, strong, blockquote {
    font-size: 16px;
  }

  .view {
    margin-left: 0;
    padding-top: 50px;
  }

  .load-screen {
    width: 100vw;
    height: 100vh;
    margin-left: 0;
  }

  .navigation {
    height: 70px;
    width: 100%;
    z-index: 101;
  }

  .navigation ul {
    padding: 10px 0 20px 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    height: 70px;
  }

  .navigation ul li, .navigation ul li:last-child {
    margin-bottom: 0;
  }

  .navigation ul li a span {
    padding-top: 5px;
  }

  span.white {
    color: $apple;
  }

  .subpage-title {
    font-size: 2.5em;
  }

  .about-text p {
    text-align: left;
  }

  button.btn-subpage a, button.btn-red a {
    font-size: 1em;
  }

  .drawer {
    width: 100%;
  }

  .repo-link {
    font-size: 13px;
  }
}

/* landscape orientation for smartphones display only a fully width orientation image */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .rotate-tablet {
    display: block;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .rotate-tablet {
      display: block;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .rotate-tablet {
      display: block;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .rotate-tablet {
      display: block;
    }
}

@media all and (max-width: 631px) {
  .my-name, .hello {
    line-height: 30px;
  }

  .my-name {
    font-size: 2.5em;
    line-height: 50px;
  }

  .hello {
    font-size: 1.8em;
  }

  .subpage-title {
    font-size: 2.5em;
  }

  .portfolio-text {
    text-align: left;
  }
}

@media all and (max-width: 510px) {
  .client-logo img.logo-img {
    width: 100%;
    margin: 0 auto;
  }
}

@media all and (max-width: 491px) {
  .my-name span {
    display: none;
  }

  .modal-content p {
    font-size: .7em;
  }
}

@media all and (max-width: 375px) {
  .my-name {
    font-size: 2em;
    line-height: 25px;
  }

  .hello {
    font-size: 1.5em;
  }

  .tldr {
    display: block;
    font-size: .8em;
  }

  .social-icons {
    display: none;
  }

  .mobile-social {
    display: block;
    position: absolute;
    right:0;
    top: 70px;
    padding: 10px;
    z-index: 4;
  }

  .mobile-social a {
    font-size: 1.5atoem;
  }

  .about-buttons {
    display: none;
  }
}
