<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{site.title}}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/animate.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico?" type="image/x-icon">
  <link rel="icon" href="{{site.baseurl}}/favicon.ico?" type="image/x-icon">
</head>
<body>
  <div class="drawer my-animate">
      <p class="text-right"><i class="fa fa-times sun close-repos"></i></p>
      <p class="lead text-center">
        Recent GitHub Projects
      </p>
      <small class="text-center">Mainly personal projects and features to improve my day-to-day workflow</small>
      <hr>
      <ul id="repos"><!-- repos populating here from GitHub API Call --></ul>
    </div>
  </div>
  <div class="load-screen my-animate"></div>
  <div class="rotate-tablet"></div>
  <div class="content">
    {% include navigation.html %}
    <div class="content-wrapper">
      <div class="mobile-social">
        {% include social_icons.html %}
      </div>
      <div class="container content">
        <div class="col-md-12">
          <main class="view">
              <div>
                {{content}}
              </div>
          </main>
        </div>
      </div>
    </div>
    <div class="social-icons">
      {% include social_icons.html %}
    </div>
  </div>
  <script type="text/javascript" src="{{site.baseurl}}/assets/javascripts/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/javascripts/main.js"></script>
</body>
</html>
