<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{site.title}}</title>
  <link rel="stylesheet" href="assets/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  {% include navigation.html %}
  <div class="container content">
    <div class="col-md-12">
      <main class="view">
          <div>
            {{content}}
          </div>
      </main>
    </div>
  </div>
  <footer class="social-icons">
    <a taret="_blank" href="https://www.linkedin.com/in/jeremiah-wodke-1b3532102">
      <i class="fa fa-linkedin"></i>
    </a>
    <a target="_blank" href="https://www.facebook.com/impactstudioWebDesign/">
      <i class="fa fa-facebook"></i>
    </a>
    <a target="_blank" href="https://www.google.com/search?q=impctstud.io+web+design&oq=impctstud.io+web+design&aqs=chrome..69i57.5511j0j1&sourceid=chrome&ie=UTF-8#safe=off&q=impactstud.io+loveland+colorado">
      <i class="fa fa-google-plus apple"></i>
    </a>
  </footer>
  <script type="text/javascript" src="assets/javascripts/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="assets/javascripts/main.js"></script>
</body>
</html>
